<div class="placeholder-container">
  <div>placeholder</div>
  <div>placeholder</div>
  <div>placeholder</div>
  <div>placeholder</div>
  <div>placeholder</div>
  <div>placeholder</div>
  <div>placeholder</div>
  <div>placeholder</div>
  <div>placeholder</div>
  <div>placeholder</div>
  <div>placeholder</div>
  <div>placeholder</div>
  <div>placeholder</div>
  <div>placeholder</div>
  <div>placeholder</div>
  <div>placeholder</div>
  <div>placeholder</div>
  <div>placeholder</div>
  <div>placeholder</div>
  <div>placeholder</div>
  <div>placeholder</div>
  <div>placeholder</div>
  <div>placeholder</div>
  <div>placeholder</div>
  <div>placeholder</div>
  <div>placeholder</div>
  <div>placeholder</div>
  <div>placeholder</div>
  <div>placeholder</div>
  <div>placeholder</div>
  <div>placeholder</div>
  <div>placeholder</div>
  <div>placeholder</div>
  <div>placeholder</div>
  <div>placeholder</div>
  <div>placeholder</div>
  <div>placeholder</div>
  <div>placeholder</div>
  <div>placeholder</div>
  <div>placeholder</div>
  <div>placeholder</div>
  <div>placeholder</div>
  <div>placeholder</div>
  <div>placeholder</div>
  <div>placeholder</div>
  <div>placeholder</div>
  <div>placeholder</div>
  <div>placeholder</div>
  <div>placeholder</div>
  <div>placeholder</div>
  <div>placeholder</div>
  <div>placeholder</div>
  <div>placeholder</div>
  <div>placeholder</div>
  <div>placeholder</div>
  <div>placeholder</div>
  <div>placeholder</div>
  <div>placeholder</div>
  <div>placeholder</div>
  <div>placeholder</div>
  <div>placeholder</div>
  <div>placeholder</div>
  <div>placeholder</div>
  <div>placeholder</div>
  <div>placeholder</div>
  <div>placeholder</div>
  <div>placeholder</div>
  <div>placeholder</div>
  <div>placeholder</div>
  <div>placeholder</div>
  <div>placeholder</div>
  <div>placeholder</div>
  <div>placeholder</div>
  <div>placeholder</div>
  <div>placeholder</div>
  <div>placeholder</div>
  <div>placeholder</div>
  <div>placeholder</div>
  <div>placeholder</div>
  <div>placeholder</div>
  <div>placeholder</div>
  <div>placeholder</div>
  <div>placeholder</div>
  <div>placeholder</div>
  <div>placeholder</div>
  <div>placeholder</div>
  <div>placeholder</div>
  <div>placeholder</div>
  <div>placeholder</div>
  <div>placeholder</div>
  <div>placeholder</div>
  <div>placeholder</div>
  <div>placeholder</div>
  <div>placeholder</div>
  <div>placeholder</div>
  <div>placeholder</div>
  <div>placeholder</div>
  <div>placeholder</div>
  <div>placeholder</div>
  <div>placeholder</div>
  <div>placeholder</div>
  <div>placeholder</div>
  <div>placeholder</div>
  <div>placeholder</div>
  <div>placeholder</div>
  <div>placeholder</div>
  <div>placeholder</div>
  <div>placeholder</div>
  <div>placeholder</div>
</div>
<app-back-to-top [backPosition]="80" [visibilityHeight]="100" [Template]="tpl" >
  <ng-template #tpl>
    <div class="back-top-inner">UP</div>
  </ng-template>
</app-back-to-top>

<app-back-to-top [customStyle]="myBackToTopStyle"></app-back-to-top>